## Assignment- Python basics

Time for you to test your knowledge. Take a sigh of relief! These assignemnts won't be like that of your mookIT courses and would be more of fun :)

- Create a variable called z, express it as a sum of two different variables, say x and y, and display the result.

In [ ]:
x = int(input("enter a no."))
y = int(input("enter a no."))
z=x+y
print(z)

- Remove the illegal characters in the variable name:<br />
`2my@-first_name = "XYZ"`

In [3]:
myfirst_name="XYZ"

- Write the correct code for converting any float number, take 6.5 as an example, to an integer.

In [5]:
x=float(input("Enter float no:"))
x=int(x)
print(x)

6

- `Text= "Albert Einstein".`<br />
Get the characters from index 2 to index 5.

In [7]:
Text= "Albert Einstein"
for i in Text[2:6]:
    print(i,end="")

'bert'

- Change the value from `"apple"` to `"kiwi"`, in the fruits list.<br />
`fruits=["apple","mango","kiwi","banana"]`

['kiwi', 'mango', 'kiwi', 'banana']

- Use negative indexing to print the last item in the list.
`fruits = ["apple", "banana", "cherry"]`

In [10]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

- Remove any one of elements from given set.<br />
`fruits = {"apple", "banana", "cherry"}`

In [9]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("cherry")
print(fruits)

{'banana', 'apple'}

- Change the mode from online to offline in dictionary given below.

In [3]:
project ={
  "name": "Optical Odyssey",
  "no. of mentors": 3,
  "mode": "online"
}

project["mode"]="offline"
print(project)

{'name': 'Optical Odyssey', 'no. of mentors': 3, 'mode': 'offline'}

- Print "Equal" if a variable `A`(assign any value) is equal to another variable `B`(assign any value), "smaller" if A<B, otherwise print "None".

In [13]:
A=float(input())
B=float(input())
if A==B:
    print("Equal")
elif A<B:
    print("smaller")
else:
    print("None")

6
5
None

- Print all positive integers less than 7 except 3.(using loop method)

In [15]:

for i in range(1,7):
        if i==3:
                continue
        else:
                print(i)

1
2
4
5
6

- Calculate sum and average of n natural numbers using for loop.

In [16]:
x=int(input("enter the last number"))
y=0
for i in range(1,x+1):
        y=y+i
z=y/x
print("sum ", y )
print("average", z)

enter the last number3
sum 6 average 2.0

- Write a python code to print multiplication table of 3. (using for loop)

In [17]:
x=3
for i in range(1,11):
    print(3*i,end="\n")

3
6
9
12
15
18
21
24
27
30

- Define a function x and let the function return the x parameter + 5.

In [18]:
def Add_fun(x):
    return x+5

x=int(input("enter a number:"))
print(Add_fun(x))

enter a number5
10

Yess!! You completed your first step towards mastering python basics. Keep Going.